@model Doan16.Models.HoaDon

@{
    ViewBag.Title = "ChiTietHD";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="margin-left:0.3em">CHI TIẾT HÓA ĐƠN</h2>

<div>
    <h4 style="margin-left:0.3em">Thông tin hóa đơn</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt style="margin-left:0.5em; font-weight:bold">
            Tên khách hàng
        </dt>

        <dd style="margin-left:0.5em">
            @Html.DisplayFor(model => model.KhachHang.tenKhachHang)
        </dd>

        <dt style="margin-left:0.5em; font-weight:bold">
            Ngày xuất hóa đơn
        </dt>

        <dd style="margin-left:0.5em">
            @Model.NgayXuatHD.ToString("dd / MM / yyyy")
        </dd>

        <dt style="margin-left:0.5em ; font-weight:bold">
            Số hóa đơn
        </dt>

        <dd style="margin-left:0.5em">
            @Html.DisplayFor(model => model.soHD)
        </dd>

        <dt style="margin-left:0.5em ; font-weight:bold">
            Tổng tiền
        </dt>

        <dd style="margin-left:0.5em">
            @Html.DisplayFor(model => model.TongTien)
        </dd>

        <dt style="margin-left:0.5em; font-weight:bold">
            Trạng thái
        </dt>

        <dd style="margin-left:0.5em">
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>
</div>

<table class="table table-bordered" style="table-layout:fixed; margin-left:0.5em">
    <tr>
        <th>
            Số hóa đơn
        </th>
        <th>
            Sản phẩm
        </th>
        <th>
            Số lượng mua
        </th>
        <th>
            Đơn giá bán
        </th>
        <th>
            Thành tiền
        </th>
    </tr>
    @foreach (var item in Model.ChiTietHoaDons)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HoaDon.soHD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NuocGK.tenNGK)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.soluongmua)
            </td>
            <td>
                @String.Format("{0:0,0}", item.dongiaban) VNĐ
            </td>
            <td>
                @String.Format("{0:0,0}", item.thanhtien) VNĐ
            </td>
        </tr>
    }
</table>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
