@model Doan16.Models.DonDatHang

@{
    ViewBag.Title = "ChiTietDDH";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="margin-left:0.3em">CHI TIẾT ĐƠN ĐẶT HÀNG</h2>

<div>
    <h4 style="margin-left:0.3em">Thông tin đơn đặt hàng</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt style="margin-left:0.5em">
            Tên nhà cung ứng
        </dt>

        <dd style="margin-left:0.5em">
            @Html.DisplayFor(model => model.NhaCungUng1.TenNhaCungUng)
        </dd>

        <dt style="margin-left:0.5em">
            Ngày đặt hàng
        </dt>

        <dd style="margin-left:0.5em">
            @Model.NgayDatHang.ToString("dd / MM / yyyy")
        </dd>

    </dl>
</div>
<table class="table table-bordered" style="table-layout:fixed; margin-left:.5em; text-align:center">
    <tr>
        <th style="width: 25%;">
            Nước giải khát
        </th>
        <th style="width: 15%;">
            Nhà Cung Ứng
        </th>
        <th style="width: 20%;">
            Số lượng Đặt
        </th>
        <th style="width: 30%;">
            Chức năng
        </th>
    </tr>
    @foreach (var item in Model.ChiTietDonDatHangs)
    {
        using (Html.BeginForm())
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NuocGK.tenNGK)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NuocGK.LoaiNGK.NhaCungUng1.TenNhaCungUng)
                </td>
                <td>
                    <div style="display:flex; align-items:center; justify-content:center">
                        <input type="number" name="SLD" min="0" value="@item.SoLuongDat" class="form-control" style="width: 70%; text-align:center" />
                    </div>
                </td>
                <td>
                    <button type="submit" class="btn btn-success" formaction="@Url.Action("UpdateSLD", "DonDatHang", new { @idDon = item.id_DonDatHang, @idNGK = item.id_NuocGK })" style="margin-right: 1em; width: 35%;">
                        Cập nhật
                    </button>
                    <button type="submit" class="btn btn-danger" formaction="@Url.Action("XoaCTDDH", "DonDatHang", new { @idDon = item.id_DonDatHang, @idNGK = item.id_NuocGK })" style="width: 35%;">
                        Xóa
                    </button>
                </td>
            </tr>
        }
    }
</table>
<p style="margin-left:0.5em">
    @Html.ActionLink("Edit", "SuaDDH", new { id = Model.id_DonDatHang }) |
    @Html.ActionLink("Back to List", "DonDatHang")
</p>
