@*@model IEnumerable<Doan16.Models.NuocGK>*@
@using Doan16.Models
@model Tuple<List<NuocGK>, List<NhaCungUng>>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="card mb-3">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Tables</li>
    </ol>
    <div class="card-header">
        <i class="fa fa-table"></i> DANH SÁCH CÁC SẢN PHẨM SẮP HOẶC ĐÃ HẾT HÀNG
    </div>
    <div class="card-body">
        <div class="row">
            <div style="margin-left:2em; margin-bottom:1em; font-weight:bold">
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr style="text-align:center">
                        <th style="width:20%;">ID sản phẩm</th>
                        <th style="width:20%;">Tên sản phẩm</th>
                        <th style="width:20%;">Loại sản phẩm</th>
                        <th style="width:20%;">Nhà cung ứng</th>
                        <th style="width:20%;">Số lượng tồn</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr style="text-align:center">
                        <th style="width:20%;">ID sản phẩm</th>
                        <th style="width:20%;">Tên sản phẩm</th>
                        <th style="width:20%;">Loại sản phẩm</th>
                        <th style="width:20%;">Nhà cung ứng</th>
                        <th style="width:20%;">Số lượng tồn</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model.Item1)
                    {
                        <tr style="text-align:center">
                            <td>@item.id_NuocGK</td>
                            <td>@item.tenNGK</td>
                            <td>@item.LoaiNGK.TenLoaiNGK</td>
                            <td>@item.LoaiNGK.NhaCungUng1.TenNhaCungUng</td>
                            <td>@item.soluongton</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="alert alert-info" style="text-align:center;">
    <strong>Tip ! </strong>Chọn một trong các nhà cung ứng khả dụng dưới đây để đặt hàng
</div>

<div style="margin: 2em;">
    <span>Danh sách cách nhà cung ứng : </span>
    <br>
    @using (Html.BeginForm())
    {
        @Html.DropDownList("id_NhaCungUng", null, new { @class = "form-control", @style = "width:20%;" })

        <button class="btn btn-success" formaction="@Url.Action("AddToDDH")" type="submit" style="margin-top: 0.5em">
            Đặt hàng
        </button>
        <button class="btn btn-primary" formaction="@Url.Action("DonDatHang")" type="submit" style="margin-top: 0.5em">
            Xem chi tiết
        </button> 
    }
</div>