@model List<Doan16.Models.KhachHang>
@{
    ViewBag.Title = "Index";
}

<h2> QUẢN LÝ THÔNG TÀI KHOẢN</h2>

<table class="table" border="1">
    <tr>
        <th style="width:200px">
            Tên khách hàng
        </th>
        <th style="width:100px">
            Tên đăng nhập
        </th>
        <th style="width:100px">
            Mật khẩu
        </th>
        <th style="width:120px">
            Địa chỉ
        </th>
        <th style="width:120px">
            Ngày sinh
        </th>
        <th style="width:120px">
            Số điện thoại
        </th>
        @*<th style="width:200px">
                @Html.DisplayNameFor(model => model.First().solanxem)
            </th>
            <th style="width:200px">
                @Html.DisplayNameFor(model => model.First().moi)
            </th>*@
        <th style="width:120px">Phê duyệt</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.tenKhachHang)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.Donvitinh)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.TenDN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Matkhau)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.diachi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ngaysinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoDienThoai)
            </td>
            <td>
                <input type="button" name="duyet" value="Duyệt" /> <input type="button" name="Huy" value="Hủy" />
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.solanxem)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.moi)
                </td>*@

        </tr>
    }
</table>
