@model Doan16.Models.NuocGK

@{
    ViewBag.Title = "ThemmoiSP";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>THÊM SẢN PHẨM MỚI</h2>

@using (Html.BeginForm("ThemmoiSP", "Admin", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>NƯỚC GIẢI KHÁT</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            <div style="margin:0.5em 1em; font-weight:bold">
                TÊN NƯỚC GIẢI KHÁT
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.tenNGK, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.tenNGK)
                @ViewBag.TrungTen
            </div>
        </div>

        <div class="form-group">
            <div style="margin:0.5em 1em; font-weight:bold">
                ĐƠN GIÁ
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.dongia, new { htmlAttributes = new { @class = "form-control", @min = "0" } })
                @Html.ValidationMessageFor(model => model.dongia)
            </div>
        </div>

        <div class="form-group">
            <div style="margin:0.5em 1em; font-weight:bold">
                LOẠI NƯỚC GIẢI KHÁT
            </div>
            <div class="col-md-10">
                @Html.DropDownList("nhanhieuNGK")
            </div>
        </div>

        <div class="form-group">
            <div style="margin:0.5em 1em; font-weight:bold">
                SỐ LƯỢNG TỒN
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.soluongton, new { htmlAttributes = new { @class = "form-control" , @min="0"} })
                @Html.ValidationMessageFor(model => model.soluongton)
            </div>
        </div>

        <div class="form-group">
            <div style="margin:0.5em 1em; font-weight:bold">
                HÌNH ẢNH
            </div>
            <div class="col-md-10">
                <input type="file" name="fileupload" />
                @Html.ValidationMessageFor(model => model.hinhanh)
                @ViewBag.Thongbao
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("VỀ TRANG QUẢN LÝ SẢN PHẨM", "SanPham")
</div>
