@model Doan16.Models.NhaCungUng

@{
    ViewBag.Title = "XoaNCU";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="margin-left:.3em">XÓA NHÀ CUNG ỨNG</h2>

<h3 style="margin-left:.3em">Bạn muốn xóa nhà cung ứng này?</h3>
<div>
    <h4 style="margin-left:.5em">THÔNG TIN NHÀ CUNG ỨNG</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt style="margin-left:.5em">
            TÊN NHÀ CUNG ỨNG
        </dt>

        <dd style="margin-left:.5em">
            @Html.DisplayFor(model => model.TenNhaCungUng)
        </dd>

        <dt style="margin-left:.5em">
            ĐỊA CHỈ
        </dt>

        <dd style="margin-left:.5em">
            @Html.DisplayFor(model => model.DiaChi)
        </dd>

        <dt style="margin-left:.5em">
            SỐ ĐIỆN THOẠI
        </dt>

        <dd style="margin-left:.5em">
            @Html.DisplayFor(model => model.SDT)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color" style="margin-left:.5em">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("TRỞ VỀ TRANG QUẢN LÝ NHÀ CUNG ỨNG", "NhaCungUng")
        </div>
    }
</div>

