@model IEnumerable<Doan16.Models.PhieuTraNo>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="card mb-3">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Tables</li>
    </ol>
    <div class="card-header">
        <i class="fa fa-table"></i> DANH SÁCH PHIẾU TRẢ NỢ
    </div>
    <div class="card-body">
        <div class="row">
            <div style="margin-left:2em; margin-bottom:1em; font-weight:bold">
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr style="text-align:center">
                        <th style="width:15%">ID Phiếu</th>
                        <th style="width:20%">Hóa đơn</th>
                        <th style="width:15%">Khách hàng</th>
                        <th style="width:20%">Ngày trả</th>
                        <th style="width:10%">Số tiền trả</th>
                        <th style="width:20%">Chức năng</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr style="text-align:center">
                        <th style="width:15%;">ID Phiếu</th>
                        <th style="width:20%;">Hóa đơn</th>
                        <th style="width:15%">Khách hàng</th>
                        <th style="width:20%">Ngày trả</th>
                        <th style="width:10%">Số tiền trả</th>
                        <th style="width:20%">Chức năng</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr style="text-align:center">
                            <td>@item.id_PhieuTraNo</td>
                            <td>@item.HoaDon.soHD</td>
                            <td>@item.HoaDon.KhachHang.tenKhachHang</td>
                            <td>@item.NgayTra.ToString("dd / MM / yyyy")</td>
                            <td>@String.Format("{0:0,0}", item.SoTienTra) VNĐ</td>
                            <td>
                                @using (Html.BeginForm())
                                {
                                    <button class="btn" style="width:120px; margin:0.3em; margin-left:3em;"> @Html.ActionLink("Xem chi tiết", "ChiTietPN", new { id = item.id_PhieuTraNo })</button>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

