@using Doan16.Models
@using PagedList.Mvc
@model PagedList.PagedList<NuocGK>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}



<div class="row" id="thisPage">
    
    @foreach (var nuoc in Model)
    {
        <div class="col-md-4 text-center col-sm-6 col-xs-6">
            <div class="thumbnail product-box" style="min-height:250px">
                <div style="min-height:200px;">
                    <img src="~/images/@nuoc.hinhanh" style="width:200px;" />
                </div>
                <div class="caption">
                    <h4><a href="@Url.Action("Details","SanPham", new { id = nuoc.id_NuocGK })">@nuoc.tenNGK</a></h4>
                    <p>Price : <strong>@nuoc.dongia VNĐ</strong>  </p>

                    <p>
                        <a href="#" class="btn btn-success" role="button">Add To Cart</a>
                        <a href="@Url.Action("Details","SanPham", new { id = nuoc.id_NuocGK })" class="btn btn-primary" role="button">See Details</a>
                    </p>
                </div>
            </div>
        </div>
    }
</div>

<div class="row">
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
    <div class="MenuTrang">
        @*@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))*@
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
    </div>
    <!--
    <script>
        $('.pagination li a').click(function () {
            var url = window.location.href;
            alert(url);
            if (url.indexOf("?page=") > -1) {
                console.log(url);
                sessionStorage.reloadAfterPageLoad = true;
            }
            sessionStorage.reloadAfterPageLoad = false;
        });
        $(document).ready( function() {
        alert(sessionStorage.reloadAfterPageLoad);
            if (sessionStorage.reloadAfterPageLoad == true) {
                var url = window.location.href;
                var newUrl = url + "#thisPage";
                //alert(newUrl);
                location.href = newUrl;
                sessionStorage.reloadAfterPageLoad = false;
            }
        });
    </script>
        -->
    <style>
        .MenuTrang li {
            display: inline;
        }
    </style>
</div>



