@using Doan16.Models
@using PagedList.Mvc
@model PagedList.PagedList<NuocGK>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}



<div class="row">
    @foreach (var nuoc in Model)
    {
        <div class="col-md-4 text-center col-sm-6 col-xs-6">
            <div class="thumbnail product-box" style="min-height:250px">
                <div style="min-height:200px;">
                    <img src="~/images/@nuoc.hinhanh" style="width:200px" />
                </div>
                <div class="caption">
                    <h4><a href="@Url.Action("Details","SanPham", new { id = nuoc.id_NuocGK })">@nuoc.tenNGK</a></h4>
                    <p>Price : <strong>@nuoc.dongia VNĐ</strong>  </p>

                    <p>
                        <a href="#" class="btn btn-success" role="button">Add To Cart</a>
                        <a href="@Url.Action("Details","SanPham", new { id = nuoc.id_NuocGK })" class="btn btn-primary" role="button">See Details</a>
                    </p>
                </div>
            </div>
        </div>



        @*<div class="col-sm-4" style="margin: 2em 0; border: 1px solid gray">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center">
                            <a href="@Url.Action("Details","SanPham", new { id = nuoc.id_NuocGK })">
                                <div style="min-height:200px;">
                                    <img src="~/images/@nuoc.hinhanh" style="width:200px" />
                                </div>
                            </a>
                            <h2>@nuoc.dongia</h2>
                            <p>@nuoc.tenNGK</p>
                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ</a>
                        </div>

                    </div>

                </div>
            </div>*@
    }
</div>

<div class="row">
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount

    <div class="MenuTrang">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
    </div>
    <style>
        .MenuTrang li {
            display: inline;
        }
    </style>
</div>



