
@{
    ViewBag.Title = "DangNhap";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="padding: 1em; width: 50%; position:relative; left:20%; border: 1px outset grey;">

<h4 style="color:red; text-align:center">@ViewBag.Thongbao</h4>
<table align="center">
    <h2 style="text-align:center">ĐĂNG NHẬP</h2>
    @using (Html.BeginForm("DangNhap", "khachHang"))
    {
        @Html.ValidationSummary(true)
        <tr style="height:40px">
            <td> Tên đăng nhập:</td>
            <td>
                @Html.TextBox("TenDN", null, new { @class = "form-control", @style="margin-left:1em" })
                @ViewData["Loi1"]
            </td>
        </tr>
        <tr style="height:40px">
            <td align="right"> Mật khẩu:</td>
            <td>
                @Html.Password("Matkhau", null, new { @class = "form-control", @style = "margin-left:1em" })
                @ViewData["Loi2"]
            </td>
        </tr>
        <tr style="height:60px">
            <td>
            </td>
            <td>
                <input type="submit" value="Đăng nhập" class="btn btn-success" style="margin-left: 1em;"/>
                <a href="@Url.Action("DisplayCart", "Cart")">
                    <div class="btn btn-danger" style="margin-left: 1em; width: 35%">Hủy</div>
                </a>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align:center">
                <a style="text-decoration: underline" href="@Url.Action("DangKy", "KhachHang")">Chưa có tài khoản? Đăng ký ngay!</a> 
            </td>
        </tr>
    }
</table>

</div>
