
@{
    ViewBag.Title = "DangKy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="margin: 5em 10em;">
    <table align="center">
        <h2 style="text-align:center">ĐĂNG KÝ THÀNH VIÊN</h2>
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)
            <tr style="height:40px">
                <td> Họ tên khách hàng:</td>
                <td>
                    @Html.TextBox("Hoten", null, new { @class = "form-control", @style = "margin-left:1em", @required = "true" })
                    @ViewData["Loi1"]
                    @ViewData["Loi9"]
                </td>
            </tr>
            <tr style="height:40px">
                <td> Tên đăng nhập:</td>
                <td>
                    @Html.TextBox("TenDN", null, new { @class = "form-control", @style = "margin-left:1em", @required = "true" })
                    @ViewData["Loi2"]
                </td>
            </tr>
            <tr style="height:40px">
                <td> Mật khẩu:</td>
                <td>
                    @Html.Password("Matkhau", null, new { @class = "form-control", @style = "margin-left:1em", @required = "true" })
                    @ViewData["Loi3"]
                </td>
            </tr>
            <tr style="height:40px">
                <td> Mật khẩu nhập lại:</td>
                <td>
                    @Html.Password("Matkhaunhaplai", null, new { @class = "form-control", @style = "margin-left:1em", @required = "true" })
                    @ViewData["Loi4"]
                </td>
            </tr>
            <tr style="height:40px">
                <td> Địa chỉ:</td>
                <td>
                    @Html.TextBox("Diachi", null, new { @class = "form-control", @style = "margin-left:1em", @required ="true" })
                    @ViewData["Loi5"]
                </td>
            </tr>
            <tr style="height:40px">
                <td> Email:</td>
                <td>
                    <input type="email" id="Email" pattern="^[a-zA-Z0-9._+-]+&#64;[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$" required class="form-control" style="margin-left:1em" />
                    @*@Html.TextBox("Email", null, new { @class = "form-control", @style = "margin-left:1em" })*@
                    @ViewData["Loi6"]
                </td>
            </tr>
            <tr style="height:40px">
                <td> Điện thoại:</td>
                <td>
                    @Html.TextBox("Dienthoai", null, new { @class = "form-control", @style = "margin-left:1em", @type="number", @required = "true" })
                    @ViewData["Loi7"]
                </td>
            </tr>
            <tr style="height:40px">
                <td> Giới tính:</td>
                <td>
                    Nam @Html.RadioButton("Gioitinh", true, true) Nữ @Html.RadioButton("Gioitinh", false)
                    @ViewData["Loi8"]
                </td>
            </tr>
            <tr style="height:40px">
                <td> Ngày sinh:</td>
                <td>
                    <input type="date" name="Ngaysinh" required />
                    @ViewData["Loi10"]
                </td>
            </tr>
            <tr style="height:40px">
                <td></td>
                <td>
                    <input type="submit" value="Đăng ký" class="btn btn-primary"/>
                </td>
            </tr>
        }
    </table>

</div>