
@{
    ViewBag.Title = "DangNhap";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 style="color:red; text-align:center">@ViewBag.Thongbao</h4>
<table align="center">
    <h2 style="text-align:center">ĐĂNG NHẬP</h2>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <tr style="height:40px">
            <td> Tên đăng nhập:</td>
            <td>
                @Html.TextBox("TenDN")
                @ViewData["Loi1"]
            </td>
        </tr>
        <tr style="height:40px">
            <td align="right"> Mật khẩu:</td>
            <td>
                @Html.Password("Matkhau")
                @ViewData["Loi2"]
            </td>
        </tr>
        <tr style="height:40px">
            <td></td>
            <td>
                <input type="submit" value="Đăng nhập" />
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align:center">
                <a style="text-decoration: underline" href="@Url.Action("DangKy", "KhachHang")">Chưa có tài khoản? Đăng ký ngay!</a> 
            </td>
        </tr>
    }
</table>

