
@{
                /**/

                ViewBag.Title = "Index";
                Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1 style="text-align:center; text-transform:uppercase; margin: 1.5em 1em;">
    lập phiếu giao hàng
</h1>

<div class="alert alert-info">
    Chọn <strong>Đơn Đặt Hàng</strong> khả dụng dưới đây để lập phiếu giao hàng !
</div>


@using (Html.BeginForm("Index", "DonGiaoHang"))
{
    @Html.DropDownList("id_DonDatHang", null, new { @class = "form-control", @style = "width:10%;" })

    <button class="btn btn-primary" type="submit" style="margin: 1em 0;">
        Xem đơn hàng
    </button>
}

<button class="btn btn-success" onclick="location.href='@Url.Action("DanhSach", "DonGiaoHang")';">
    Xem Các Phiếu Giao Hàng
</button>

@if (!ViewBag.Null)
{

    <div class="card mb-3">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Mã Đơn Đặt Hàng</a>
            </li>
            <li class="breadcrumb-item active">@ViewBag.ID_DDH</li>
            <li class="breadcrumb-item">
                <a href="#">Tên Nhà Cung Ứng</a>
            </li>
            <li class="breadcrumb-item active">@ViewBag.TenNhaCungUng</li>
        </ol>
        <div class="card-header">
            <i class="fa fa-table"></i> DANH SÁCH CÁC CHI TIẾT ĐƠN ĐẶT HÀNG
        </div>
        <div class="card-body">
            <div class="row">
                <div style="margin-left:2em; margin-bottom:1em; font-weight:bold">
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr style="text-align:center">
                            <th style="width:30%;">Tên sản phẩm</th>
                            <th style="width:18%;">Số Lượng Đặt</th>
                            <th style="width:15%;">Đơn Giá</th>
                            <th style="width:18%;">Số Lượng Giao</th>
                        </tr>
                    </thead>
                    <tbody>
                        @using (Html.BeginForm("ThemPhieuGH", "DonGiaoHang"))
                        {
                            <input name="id_dondathang" hidden="hidden" value="@ViewBag.ID_DDH" />
                            foreach (var item in Model)
                            {
                                <tr style="text-align:center">
                                    <td hidden="hidden">
                                        <input name="idsp" hidden="hidden" value="@item.NuocGK.id_NuocGK" />
                                    </td>
                                    <td>@item.NuocGK.tenNGK</td>
                                    <td hidden="hidden">
                                        <input hidden="hidden" name="SLDat" value="@item.SoLuongDat" />
                                    </td>
                                    <td>@item.SoLuongDat</td>
                                    <td hidden="hidden">
                                        <input type="hidden" name="dongia" value="@Convert.ToDouble(item.NuocGK.dongia - item.NuocGK.dongia * 0.1)" />
                                    </td>
                                    <td>
                                        @Convert.ToDouble(item.NuocGK.dongia - item.NuocGK.dongia * 0.1)
                                    </td>

                                    <td style="display:flex; align-items: center; justify-content:center;">
                                        <input name="SLGiao" required type="number" min="0" max="@item.SoLuongDat" class="form-control" style="width: 70%;" />
                                    </td>
                                </tr>
                            }

                                <tr>
                                    <td>
                                        @if (ViewBag.ThreeWaves)
                                        {
                                        <div class="alert alert-danger">
                                            <strong>Thông báo !</strong> Còn <span style="font-weight:900;font-size:2em;">1</span> lần giao hàng đối với nhà cung ứng này !
                                        </div>
                                        }
                                    </td>
                                </tr>
                            <tr>
                                <td colspan="4">
                                    <button type="submit" class="btn btn-success">
                                        Thêm Vào Phiếu Giao
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <th colspan="2"><span style="float:right">Số lượng: @ViewBag.TongSoLuong</span></th>
                            <th colspan="2"><span style="float:right">Tổng tiền: @ViewBag.TongTienDat</span></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
}
