<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../images/icon.ico" type="image/x-icon">
    <title>Bootstrap E-Commerce Template- DIGI Shop mini</title>
    <!-- Bootstrap core CSS -->
    <link href="../../lib/assets/css/bootstrap.css" rel="stylesheet">
    <!-- Fontawesome core CSS -->
    <link href="../../lib/assets/css/font-awesome.min.css" rel="stylesheet" />
    <!--GOOGLE FONT -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <!--Slide Show Css -->
    <link href="../../lib/assets/ItemSlider/css/main-style.css" rel="stylesheet" />
    <!-- custom CSS here -->
    <link href="../../lib/assets/css/style.css" rel="stylesheet" />
    <script src="../../Scripts/jquery.js"></script>

    <script>
        var first_scroll_position = 0;
        /* the menu bar become transparent when it hits the top */

        window.addEventListener('scroll', function (e) {
            var after_scroll_position = window.scrollY;
            /* the menu bar become transparent when it hits the top */

            if (after_scroll_position > first_scroll_position) {
                $('#menu').fadeOut(600);
            } else {
                $('#menu').fadeIn(600);
            }
            // update first position
            first_scroll_position = after_scroll_position;
        });
    </script>
</head>
<body>

    <div style="position:fixed; z-index:1000; width:100%;">
        <nav class="navbar navbar-default" role="navigation" id="menu">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" style="padding: 15px 20px 0px 20px;" href="@Url.Action("Index", "SanPham")"><strong>SHOP</strong></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                    <div class=" navbar-right">
                        @{ Html.RenderAction("TimKiem", "SanPham");}    
                    </div>

                    <ul class="nav navbar-nav">
                        <li><a href="@Url.Action("Index", "SanPham")"><i class="fa fa-home" style="font-size:18px"></i> Trang Chủ</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-phone" style="font-size:18px"></i> Liên Hệ<b class="caret"></b></a>
                            <ul class="dropdown-menu" style="width: 300px;">
                                <li><p style="margin: 5px 20px"><strong><i class="fa fa-phone" style="font-size:18px"></i> Call: </strong>+09-456-567-890</p></li>
                                <li class="divider"></li>
                                <li><p style="margin: 5px 20px"><strong><i class="fa fa-envelope" style="font-size:18px"></i> Mail: </strong>info@nuocgiaikhat.com</p></li>
                                <li class="divider"></li>
                                <li>
                                    <p style="margin: 5px 20px">
                                        <strong><i class="fa fa-map-marker" style="font-size:18px"></i> Address: </strong>
                                        <div style="margin: 5px 20px">
                                            234, New york Street,<br />
                                            Just Location, USA
                                        </div>
                                    </p>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="@Url.Action("DisplayCart", "Cart")">
                                <i class="fa fa-shopping-cart" style="font-size:18px"></i>
                                &nbsp;&nbsp;Giỏ Hàng @{ Html.RenderAction("CartInformation", "Cart");}
                            </a>
                        </li>
                        @if(Session["TenDangNhap"] != null)
                        {
                            <li> 
                                <a href="#"><i class="fa fa-user" style="font-size:18px"></i>&nbsp;&nbsp;<strong>@Session["TenDangNhap"] </strong></a>
                            </li>
                            
                            <li>
                                @using (Html.BeginForm("Logout", "KhachHang", FormMethod.Post))
                                {
                                    <button type="submit" class="btn btn-primary" style="margin-top: 8px;"><i class="fa fa-sign-out" style="font-size:18px"></i> Đăng Xuất</button>
                                }
                            </li>
                        }
                        else
                        {
                            <li><a href="@Url.Action("DangNhap", "KhachHang")"><i class="fa fa-sign-in" style="font-size:18px"></i> Đăng Nhập</a></li>
                        }

                    </ul>


                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
    </div>

    <div class="container" style="position:relative;">

        <div class="row">
            <div class="col-md-12">

                <div class="main box-border">
                    <div id="mi-slider" class="mi-slider">
                        <ul>
                            @{Html.RenderAction("SanPhamLon", "SanPham");}
                        </ul>
                        <ul>
                            @{Html.RenderAction("SanPhamChai", "SanPham"); }
                        </ul>
                        <ul>
                            @{Html.RenderAction("SanPhamNuocSuoi", "SanPham");}
                        </ul>
                        <ul>
                            @{Html.RenderAction("SanPhamConLai", "SanPham");}
                        </ul>
                        <nav>
                            <a href="#">NƯỚC CÓ GA</a>
                            <a href="#">NƯỚC SUỐI</a>
                            <a href="#">TĂNG LỰC</a>
                            <a href="#">TRÁI CÂY</a>
                        </nav>
                    </div>

                </div>
                <br />
            </div>

        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-md-3">
                <div>
                    <a href="#" class="list-group-item active">
                        NHÀ CUNG ỨNG
                    </a>
                    <ul class="list-group">

                        @Html.Action("NhaCungUng", "SanPham")
                    </ul>
                </div>
                <!-- /.div -->
                <div>
                    <a href="#" class="list-group-item active list-group-item-success">
                        LOẠI NƯỚC GIẢI KHÁT
                    </a>
                    <ul class="list-group">

                        @Html.Action("LoaiNGK", "SanPham")

                    </ul>
                </div>
            </div>
            <!-- /.col -->
            <div class="col-md-9">
                

                @RenderBody()



            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>


    <div class="col-md-12 footer-box" style="position:relative;">


        <div class="row small-box ">
            <strong>Mobiles :</strong> <a href="#">samsung</a> |  <a href="#">Sony</a> | <a href="#">Microx</a> |
            <a href="#">samsung</a> |  <a href="#">Sony</a> | <a href="#">Microx</a> |<a href="#">samsung</a> |
            <a href="#">Sony</a> | <a href="#">Microx</a> |<a href="#">samsung</a> |  <a href="#">Sony</a> |
            <a href="#">Microx</a> |<a href="#">samsung</a> |  <a href="#">Sony</a> | <a href="#">Microx</a> |
            <a href="#">samsung</a> |  <a href="#">Sony</a> | <a href="#">Microx</a> |<a href="#">samsung</a> |
            <a href="#">Sony</a> | <a href="#">Microx</a> | view all items

        </div>
        <div class="row small-box ">
            <strong>Laptops :</strong> <a href="#">samsung</a> |  <a href="#">Sony</a> | <a href="#">Microx Laptops</a> |
            <a href="#">samsung</a> |  <a href="#">Sony</a> | <a href="#">Microx</a> |<a href="#">samsung</a> |
            <a href="#">Sony Laptops</a> | <a href="#">Microx</a> |<a href="#">samsung</a> |  <a href="#">Sony</a> |
            <a href="#">Microx</a> |<a href="#">samsung</a> |  <a href="#">Sony</a> | <a href="#">Microx</a> |
            <a href="#">samsung</a> |  <a href="#">Sony</a> | <a href="#">Microx</a> |<a href="#">samsung</a> |
            <a href="#">Sony</a> | <a href="#">Microx</a> | view all items
        </div>
        <div class="row small-box ">
            <strong>Tablets : </strong><a href="#">samsung</a> |  <a href="#">Sony Tablets</a> | <a href="#">Microx</a> |
            <a href="#">samsung </a>|  <a href="#">Sony</a> | <a href="#">Microx</a> |<a href="#">samsung</a> |
            <a href="#">Sony</a> | <a href="#">Microx</a> |<a href="#">samsung Tablets</a> |  <a href="#">Sony</a> |
            <a href="#">Microx</a> |<a href="#">samsung Tablets</a> |  <a href="#">Sony</a> | <a href="#">Microx</a> |
            <a href="#">samsung</a> |  <a href="#">Sony</a> | <a href="#">Microx</a> |<a href="#">samsung</a> |
            <a href="#">Sony</a> | <a href="#">Microx Tablets</a> | view all items

        </div>
        <div class="row small-box pad-botom ">
            <strong>Computers :</strong> <a href="#">samsung</a> |  <a href="#">Sony</a> | <a href="#">Microx</a> |
            <a href="#">samsung Computers</a> |  <a href="#">Sony</a> | <a href="#">Microx</a> |<a href="#">samsung</a> |
            <a href="#">Sony</a> | <a href="#">Microx</a> |<a href="#">samsung</a> |  <a href="#">Sony</a> |
            <a href="#">Microx Computers</a> |<a href="#">samsung Computers</a> |  <a href="#">Sony</a> | <a href="#">Microx</a> |
            <a href="#">samsung</a> |  <a href="#">Sony</a> | <a href="#">Microx Computers</a> |<a href="#">samsung</a> |
            <a href="#">Sony</a> | <a href="#">Microx</a> | view all items

        </div>
        <div class="row">
            <div class="col-md-4">
                <strong>Send a Quick Query </strong>
                <hr>
                <form>
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <input type="text" class="form-control" required="required" placeholder="Name">
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <input type="text" class="form-control" required="required" placeholder="Email address">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="form-group">
                                <textarea name="message" id="message" required="required" class="form-control" rows="3" placeholder="Message"></textarea>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Submit Request</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-md-4">
                <strong>Our Location</strong>
                <hr>
                <p>
                    234, New york Street,<br />
                    Just Location, USA<br />
                    Call: +09-456-567-890<br>
                    Email: info@yourdomain.com<br>
                </p>

                2014 www.yourdomain.com | All Right Reserved
            </div>
            <div class="col-md-4 social-box">
                <strong>We are Social </strong>
                <hr>
                <a href="#"><i class="fa fa-facebook-square fa-3x "></i></a>
                <a href="#"><i class="fa fa-twitter-square fa-3x "></i></a>
                <a href="#"><i class="fa fa-google-plus-square fa-3x c"></i></a>
                <a href="#"><i class="fa fa-linkedin-square fa-3x "></i></a>
                <a href="#"><i class="fa fa-pinterest-square fa-3x "></i></a>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec nisl odio. Mauris vehicula at nunc id posuere. Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                </p>
            </div>
        </div>
        <hr>
    </div>
    <!-- /.col -->
    <div class="col-md-12 end-box " style="text-align:center">
        &copy; 2014 | &nbsp; All Rights Reserved | &nbsp; www.yourdomain.com | &nbsp; 24x7 support | &nbsp; Email us: info@yourdomain.com
    </div>
    <!-- /.col -->
    <!--Footer end -->
    <!--Core JavaScript file  -->
    <script src="../../lib/assets/js/jquery-1.10.2.js"></script>
    <!--bootstrap JavaScript file  -->
    <script src="../../lib/assets/js/bootstrap.js"></script>
    <!--Slider JavaScript file  -->
    <script src="../../lib/assets/ItemSlider/js/modernizr.custom.63321.js"></script>
    <script src="../../lib/assets/ItemSlider/js/jquery.catslider.js"></script>
    <script>
        $(function () {

            $('#mi-slider').catslider();

        });
    </script>
</body>
</html>
